In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd

In [ ]:
import os
import numpy as np
import pandas as pd

# text cleaning imports
from bs4 import BeautifulSoup
import re
import nltk

# ml imports
import tensorflow as tf
from tensorflow.keras import callbacks, models, layers
from sklearn.model_selection import train_test_split, GridSearchCV

# tokenization
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

# bag of words
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier

# visualizations
from sklearn.metrics import confusion_matrix
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
csv_table=pd.read_table('/content/drive/MyDrive/labeledTrainData (2).tsv',sep='\t')

In [ ]:
csv_table

            id  sentiment                                             review
0       5814_8          1  With all this stuff going down at the moment w...
1       2381_9          1  \The Classic War of the Worlds\" by Timothy Hi...
2       7759_3          0  The film starts with a manager (Nicholas Bell)...
3       3630_4          0  It must be assumed that those who praised this...
4       9495_8          1  Superbly trashy and wondrously unpretentious 8...
...        ...        ...                                                ...
24995   3453_3          0  It seems like more consideration has gone into...
24996   5064_1          0  I don't believe they made this film. Completel...
24997  10905_3          0  Guy is a loser. Can't get girls, needs to buil...
24998  10194_3          0  This 30 minute documentary Buñuel made in the ...
24999   8478_8          1  I saw this movie as a child and it broke my he...

[25000 rows x 3 columns]

In [ ]:
data=csv_table['review']

In [ ]:
data

0        With all this stuff going down at the moment w...
1        \The Classic War of the Worlds\" by Timothy Hi...
2        The film starts with a manager (Nicholas Bell)...
3        It must be assumed that those who praised this...
4        Superbly trashy and wondrously unpretentious 8...
                               ...
24995    It seems like more consideration has gone into...
24996    I don't believe they made this film. Completel...
24997    Guy is a loser. Can't get girls, needs to buil...
24998    This 30 minute documentary Buñuel made in the ...
24999    I saw this movie as a child and it broke my he...
Name: review, Length: 25000, dtype: object

In [ ]:
data=data.str.lower()

In [ ]:
data

0        with all this stuff going down at the moment w...
1        \the classic war of the worlds\" by timothy hi...
2        the film starts with a manager (nicholas bell)...
3        it must be assumed that those who praised this...
4        superbly trashy and wondrously unpretentious 8...
                               ...
24995    it seems like more consideration has gone into...
24996    i don't believe they made this film. completel...
24997    guy is a loser. can't get girls, needs to buil...
24998    this 30 minute documentary buñuel made in the ...
24999    i saw this movie as a child and it broke my he...
Name: review, Length: 25000, dtype: object

In [ ]:
import nltk 
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [ ]:
STOPWORDS = set(stopwordlist)

In [ ]:
dataset =data

In [ ]:
stop_words = stopwords.words("english")
def clean(review):
    clean_html = BeautifulSoup(review).get_text()
    clean_non_letters = re.sub("[^a-zA-Z]", " ", clean_html)
    cleaned_lowercase = clean_non_letters.lower()
    words = cleaned_lowercase.split()
    cleaned_words = [w for w in words if w not in stop_words]
    return " ".join(cleaned_words)

dataset = dataset.apply(clean)
dataset

0        stuff going moment mj started listening music ...
1        classic war worlds timothy hines entertaining ...
2        film starts manager nicholas bell giving welco...
3        must assumed praised film greatest filmed oper...
4        superbly trashy wondrously unpretentious explo...
                               ...
24995    seems like consideration gone imdb reviews fil...
24996    believe made film completely unnecessary first...
24997    guy loser get girls needs build picked stronge...
24998    minute documentary bu uel made early one spain...
24999    saw movie child broke heart story unfinished e...
Name: review, Length: 25000, dtype: object

In [ ]:
dataset

0        stuff going moment mj ive started listening mu...
1        the classic war worlds timothy hines entertain...
2        film starts manager nicholas bell giving welco...
3        must assumed praised film the greatest filmed ...
4        superbly trashy wondrously unpretentious s exp...
                               ...
24995    seems like consideration gone imdb reviews fil...
24996    dont believe made film completely unnecessary ...
24997    guy loser cant get girls needs build up picked...
24998     minute documentary buñuel made earlys one spa...
24999    saw movie child broke heart no story unfinishe...
Name: review, Length: 25000, dtype: object

In [ ]:
dataset[0]

'stuff going moment mj ive started listening music watching odd documentary there watched wiz watched moonwalker again maybe want get certain insight guy thought really cool eighties maybe make mind whether guilty innocent moonwalker part biography part feature film remember going see cinema originally released subtle messages mjs feeling towards press also obvious message drugs bad mkaybr br visually impressive but course michael jackson unless remotely like mj anyway going hate find boring may call mj egotist consenting making movie but mj fans would say made fans true really nice himbr br the actual feature film bit finally starts  minutes excluding smooth criminal sequence joe pesci convincing psychopathic powerful drug lord wants mj dead bad beyond me mj overheard plans nah joe pescis character ranted wanted people know supplying drugs etc dunno maybe hates mjs musicbr br lots cool things like mj turning car robot whole speed demon sequence also director must patience saint came filming kiddy bad sequence usually directors hate working one kid let alone whole bunch performing complex dance scenebr br bottom line movie people like mj one level another which think people not stay away try give off wholesome message ironically mjs bestest buddy movie girl michael jackson truly one talented people ever grace planet but guilty well attention ive gave subjecthmmm well dont know people different behind closed doors know fact either extremely nice but stupid guy one sickest liars hope not latter'

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(analyzer = "word", tokenizer=None,
                              preprocessor=None, stop_words = None,
                              max_features=5000)

train_data_features = vectorizer.fit_transform(dataset)
train_data_features = train_data_features.toarray()

Count Vectorizer converts the text into the form of number of data points which tells us how many times the number has occured in the dataset

In [ ]:
train_data_features

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [ ]:
train_data_features.sum()

2444674

In [ ]:
import numpy as np

In [ ]:
dist = np.sum(train_data_features, axis=0)
print(dist)

[187 125 108 ... 740 518 147]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report

In [ ]:
X= train_data_features
Y=csv_table['sentiment']

In [ ]:
X[0].sum()

187

In [ ]:
 X[2]

array([0, 0, 0, ..., 0, 0, 0])

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(X,Y, random_state=1, test_size=0.2)

In [ ]:
from sklearn.ensemble import RandomForestClassifier
rf = RandomForestClassifier(n_estimators=100)
rf = rf.fit(X_train, y_train)

In [ ]:
y_pred_test = rf.predict(X_test)

In [ ]:
y_pred_test

array([1, 0, 0, ..., 1, 0, 0])

In [ ]:
import xgboost as xgb

In [ ]:
accuracy_score(y_test, y_pred_test)

0.8422

In [ ]:
gbm = xgb.sklearn.XGBClassifier()
gbm.fit(X_train, y_train)
pred1=gbm.predict(X_test)

In [ ]:
accuracy_score(y_test, pred1)

0.8482

In [ ]:
test_table=pd.read_table('/content/drive/MyDrive/testData.tsv/testData.tsv',sep='\t')

In [ ]:
test_table

             id                                             review
0      12311_10  Naturally in a film who's main themes are of m...
1        8348_2  This movie is a disaster within a disaster fil...
2        5828_4  All in all, this is a movie for kids. We saw i...
3        7186_2  Afraid of the Dark left me with the impression...
4       12128_7  A very accurate depiction of small time mob li...
...         ...                                                ...
24995   2155_10  Sony Pictures Classics, I'm looking at you! So...
24996     59_10  I always felt that Ms. Merkerson had never got...
24997    2531_1  I was so disappointed in this movie. I am very...
24998    7772_8  From the opening sequence, filled with black a...
24999  11465_10  This is a great horror film for people who don...

[25000 rows x 2 columns]

In [ ]:
data=test_table['review']

In [ ]:
data=data.str.lower()

In [ ]:
dataset1 =data

In [ ]:
dataset1= dataset1.apply(clean)
dataset1

0        naturally film main themes mortality nostalgia...
1        movie disaster within disaster film full great...
2        movie kids saw tonight child loved one point k...
3        afraid dark left impression several different ...
4        accurate depiction small time mob life filmed ...
                               ...
24995    sony pictures classics looking sony got rights...
24996    always felt ms merkerson never gotten role fit...
24997    disappointed movie familiar case read mark fuh...
24998    opening sequence filled black white shots remi...
24999    great horror film people want vomit retching g...
Name: review, Length: 25000, dtype: object

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer(analyzer = "word", tokenizer=None,
                              preprocessor=None, stop_words = None,
                              max_features=5000)

train_data_features = vectorizer.fit_transform(dataset1)
train_data_features = train_data_features.toarray()

In [ ]:
X_TEST=train_data_features

In [ ]:
y_pred_test = gbm.predict(X_TEST)

In [ ]:
y_pred_test

array([1, 1, 1, ..., 0, 1, 1])

In [ ]:
y_pred_test.shape

(25000,)

In [ ]:
id=test_table['id']

In [ ]:
id

0        12311_10
1          8348_2
2          5828_4
3          7186_2
4         12128_7
           ...
24995     2155_10
24996       59_10
24997      2531_1
24998      7772_8
24999    11465_10
Name: id, Length: 25000, dtype: object

In [ ]:
df_1=pd.DataFrame({'id':id,'sentiment':y_pred_test})
df_1.head()

         id  sentiment
0  12311_10          1
1    8348_2          1
2    5828_4          1
3    7186_2          1
4   12128_7          0

In [ ]:
from google.colab import files
df_1.to_csv('file211.csv', encoding = 'utf-8-sig') 
files.download('file211.csv')

In [ ]:
y_pred_test.sum()

13696